body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: "Indie Flower", Arial, Helvetica;
}

div#grid{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 500px;
    height: 500px;
}

